[submodule "lain"]
	path = lain
	url = https://github.com/lcpz/lain.git

[submodule "freedesktop"]
	path = freedesktop
	url = https://github.com/lcpz/awesome-freedesktop.git
[submodule "keyboard-layout-indicator"]
	path = keyboard-layout-indicator
	url = https://github.com/deficient/keyboard-layout-indicator.git
